body {
    font-family: Roboto;
    color: #2E2F42;
    background-color: white;

}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-style: normal;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 150%;
}

a:hover {
    color: #404BBF;
}

a:active {
    color: #404BBF;
    /* text-decoration: underline solid; */
    box-shadow: 0 55px 0 0 #404BBF;
    border-radius: 10px;
}

button {
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    max-width: 1128px;
    margin: auto;
}

nav {
    display: flex;
}

.web-studio {
    margin-right: 76px;
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 2%;
    text-transform: uppercase;
}

.web-studio-2 {
    color: #2E2F42;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.contacts-menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.container {
    max-width: 1128px;
    margin: auto;
}

#section-1 {
    background-color: #2E2F42;
    padding: 188px 0;
}

#section-1 button {
    display: block;
    margin: auto;
    width: 169px;
    height: 56px;
    border-radius: 4px;
    background-color: #4D5AE5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    color: #ffffff;
    border: 0;
    margin-top: 48px;
}

h1 {
    
    color: #ffffff;
    text-align: center;
    /* Header 1 */
    font-size: 56px;    
    line-height: 60px;
    /* 107.143% */
    letter-spacing: .64px;
    margin-bottom: 48px;
    margin: auto;
    max-width: 496px;
    
}

#section-3 {
    margin-top: 120px;
    margin-bottom: 120px;
    text-align: center;
    background-color: #f4f4fd;
    padding: 120px 0;
}

.second-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.third-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
